main {
    margin-top: 90px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.head {
    display: flex;
    background-color: violet;
    width: 1920px;
    height: 600px;
    flex-shrink: 0;
    gap: 150px;
}

.header {
    width: auto;
    height: 350px;
    padding: 150px;

}

.headline {
    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    line-height: normal;
}

#details {
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
}

.btn-style {
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
    border-radius: 10px;
    gap: 10px;
    background-color: #e55473;
    border: 0;
}

.header-pic {
    margin-left: 150px;
    display: flex;
    width: 450px;
    height: 600px;
}

.features {
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
}

.font-size {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.font-style {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.threeflowers {
    display: flex;
    gap: 24px;
    margin-left: 400px;
    margin-top: 120px;
}

.flowerone {
    width: 280px;
    height: 370px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-left: 10px;

}

.backgroundfone {
    width: 310px;
    height: 430px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.backgroundftwo {
    width: 310px;
    height: 430px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.flowertwo {
    width: 280px;
    height: 370px;
    flex-shrink: 0;
    margin-top: 60px;
    margin-left: 30px;
}

.backgroundfthree {
    width: 310px;
    height: 430px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.flowerthree {
    width: 280px;
    height: 370px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-left: 18px;
}

.flowercaption {
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    text-decoration-line: underline;
}

.flowercaptionextra {
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-decoration-line: underline;

}

#dealfont {
    color: orangered;
}

.hotdeal {
    display: flex;
    width: 1922px;
    height: 550px;
    border-radius: 8px;
    background: peachpuff;
    margin-top: 200px;
    gap: 0;

}

.hotdeal-text {
    color: black;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 200px;
    margin-left: 200px;
}

.hotdeal-image {
    width: 340px;
    height: 430px;
    margin: 100px 300px 100px;
}

.instagram {
    display: flex;
    width: 594px;
    flex-direction: column;
    margin: 150px;
    margin-left: 550px;
    width: 800px;
}

.insta-header {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.insta-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.fourflowers {
    display: flex;
    margin-left: 250px;
    margin-top: 0;
    gap: 24px;
}

.email {
    display: flex;
    padding-top: 6%;
}

.emailcontainer {
    width: 1700px;
    height: 449px;
    border-radius: 8px;
    background-image: url(../flower-asset/Rectangle\ 9.png);
    background-repeat: no-repeat;
    margin-left: 250px;
    margin-top: 120px;
}

.emailtext {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 20px;
    padding-right: 250px;
}

.emailform {
    border-radius: 8px;
    padding-left: 200px;

}

#texty {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn-style-email {
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
    border-radius: 10px;
    gap: 10px;
    background-color: #e55473;
    border: 0;
    margin-left: 200px;
}

.formsize {
    width: 700px;
    height: 45px;
    text-align: center;
}

.flfont {
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.flowershopmotto {
    width: 1922px;
    height: 449px;
    flex-shrink: 0;
    background: #111010;
    text-align: center;
    padding-top: 50px;
    margin-top: 100px;
}